@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
    
    <div class= "container">
        <h5>@Model.Content.Value("title")</h5>

    </div>
