@using Umbraco.Forms.Core.Services
@using Umbraco.Cms.Core.Services
@using Umbraco.Forms.Core.Models
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = "_Layout.cshtml"; 

  
    var formId = "ad559f9b-e5d1-47a9-89a9-6f0f97d36fcf";
    var formService = Umbraco.Application.ApplicationContext.Services.FormsService;
    var form = formService.GetForm(formId); 
}

@if (form != null)
{
    <h2>@form.Name</h2>
    @Html.Raw(form.FormContent)  
}
else
{
    <p>Form not found.</p>
}
