@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = "_Layout.cshtml";  
    }

<html>
<head>
    <title>Index</title>
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    
    <h1>Hi</h1>
    
</body>
</html>
