@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "_Layout.cshtml";
}
<html>
<head>
    <title>Index</title>
    <meta name="mobile-web-app-capable" content="yes">
    
</head>
<body>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://media.istockphoto.com/id/1443034333/photo/christmas-or-birthday-gift-box-on-white-wooden-table-against-blue-turquoise-bokeh-lights.jpg?s=612x612&w=0&k=20&c=9EzZqIg271JMqgd5m6JutoPxrsKtQAXzM-r_QyHTkws=" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">@Model.Value("heading")</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</body>
  </html>