
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "_Layout.cshtml"; 
}
<html>
<head>
    <meta name="mobile-web-app-capable" content="yes">
     <link href="~/css/customForm.css" rel="stylesheet" />
</head>
<body>
@{
    var formId = Model.Value<Guid>("formPicker"); 
    // <p>Form ID value: @formId</p>  

    if (formId == Guid.Empty) {
        <p>No form selected</p>
    } else {
        <div class="form-container">
            @await Component.InvokeAsync("RenderForm", new { formId = formId , theme = "customForm", includeScripts = true })
        </div>
    }
}
</body>
</html>
   

