/* Product View */
.product-view .product-name{
    font-size: 24px;
    color: #2874f0;
}
.product-view .product-name .label-stock{
    font-size: 13px;
    padding: 4px 13px;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    float: right;
}
.product-view .product-path{
    font-size: 13px;
    font-weight: 500;
    color: #252525;
    margin-bottom: 16px;
}
.product-view .selling-price{
    font-size: 26px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}
.product-view .original-price{
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}
.product-view .btn1{
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 14px;
    margin-top: 10px;
}
.product-view .btn1:hover{
    background-color: #2874f0;
    color: #fff;
}
.product-view .input-quantity{
    border: 1px solid #000;
    margin-right: 3px;
    font-size: 12px;
    margin-top: 10px;
    width: 58px;
    outline: none;
    text-align: center;
}
/* Product View */


/* Product Card */
.product-card {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 24px;
}

    .product-card a {
        text-decoration: none;
    }

    .product-card .stock {
        position: absolute;
        color: #fff;
        border-radius: 4px;
        padding: 2px 12px;
        margin: 8px;
        font-size: 12px;
    }

    .product-card .product-card-img {
        max-height: 260px;
        overflow: hidden;
        border-bottom: 1px solid #ccc;

    }

        .product-card .product-card-img img {
            width: 100%;
        }

    .product-card .product-card-body {
        padding: 10px 10px;
    }

        .product-card .product-card-body .product-brand {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 4px;
            color: #937979;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .product-card .product-card-body .product-name {
            font-size: 20px;
            font-weight: 600;
            color: #000;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .product-card .product-card-body .selling-price {
            font-size: 22px;
            color: #000;
            font-weight: 600;
            margin-right: 8px;
        }

        .product-card .product-card-body .original-price {
            font-size: 18px;
            color: #937979;
            font-weight: 400;
            text-decoration: line-through;
        }

        .product-card .product-card-body .btn1 {
            border: 1px solid;
            margin-right: 3px;
            border-radius: 0px;
            font-size: 12px;
            margin-top: 10px;
        }
/* Product Card End */

        .card-wrapper {
            max-width: 100px;
            margin: 0 auto;
        }

    img {
        width: 100%;
        display: block;
    }

    .img-display {
        overflow: hidden;
    }

    .img-showcase {
        display: flex;
        width: 100%;
        transition: all 0.5s ease;
  
    }

        .img-showcase img {
            min-width: 100%;
        }

    .img-select {
        display: flex;
    }

    .img-item {
        margin: 0.3rem;
    }

        .img-item:nth-child(1),
        .img-item:nth-child(2),
        .img-item:nth-child(3) {
            margin-right: 0;
        }

        .img-item:hover {
            opacity: 0.8;
        }

    @media screen and (min-width: 992px) {
        .card {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1.5rem;
        }

        .card-wrapper {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .product-imgs {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .product-content {
            padding-top: 0;
        }
    }